Repository Soul-Research-Labs/SOUL: changes, and which pre-commit hooks are due for each by the changed paths.
All: solhint, prettier-solidity, eslint, slither-check, forge-build, forge-test

solhint:
  name: Solhint
  entry: npx solhint
  language: system
  args:
  - --config
  - .solhint.json
  - --fix

prettier-solidity:
  name: Prettier Solidity
  entry: npx prettier --write
  language: system

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: system

slither-check:
  name: Slither Quick Check
  entry: bash -c 'slither . --config-file slither.config.json --fail-on high 2>/dev/null || echo "Slither check completed"'
  language: system
  pass_filenames: false
  stages:
  - push

forge-build:
  name: Forge Build
  entry: forge build
  language: system
  pass_filenames: false

forge-test:
  name: Forge Quick Test
  entry: forge test --fuzz-runs 100
  language: system
  pass_filenames: false
  stages:
  - push

fix(security): Add elliptic override to monitoring/forta packages
  monitoring/forta-agent/package-lock.json
  monitoring/forta-agent/package.json
  monitoring/forta/package-lock.json
  monitoring/forta/package.json
Due: none

docs: Add detailed proof reductions, complexity analysis, implementation pitfalls, quantum resistance, bibliography, and formal verification to ZK-Slocks.md
  ZK-Slocks.md
Due: none

docs: Improve core documentation with TOCs and navigation
  docs/API_REFERENCE.md
  docs/DEPLOYMENT.md
  docs/GETTING_STARTED.md
  docs/INTEGRATION_GUIDE.md
  docs/L2_INTEROPERABILITY.md
  docs/architecture.md
Due: none

feat: implement Starknet bridge adapter and SDK
  contracts/crosschain/StarknetBridgeAdapter.sol
  contracts/interfaces/IStarknetBridgeAdapter.sol
  sdk/src/bridges/index.ts
  sdk/src/index.ts
Due: solhint, prettier-solidity, eslint, slither-check, forge-build, forge-test

Security Remediation: Fix critical vulnerabilities in core contracts
  contracts/bridge/CrossChainProofHubV3.sol
  contracts/core/ConfidentialStateContainerV3.sol
  contracts/crosschain/ArbitrumBridgeAdapter.sol
  contracts/crosschain/HyperlaneAdapter.sol
  contracts/pqc/PQCProtectedLock.sol
  contracts/primitives/ZKBoundStateLocks.sol
  test/invariant/ZKSlocksInvariant.t.sol
Due: solhint, prettier-solidity, slither-check, forge-build, forge-test

Remove bug_hunting_plan.md
  bug_hunting_plan.md
Due: none

Implement automated Noir verifier generation pipeline and adapter pattern
  contracts/test/MockNoirVerifier.sol
  contracts/verifiers/adapters/NoirVerifierAdapter.sol
  contracts/verifiers/adapters/PolicyVerifierAdapter.sol
  package.json
  scripts/generate_verifiers.sh
  scripts/install_noir.sh
  sdk/test/VerifierAdapters.test.ts
Due: solhint, prettier-solidity, eslint, slither-check, forge-build, forge-test

security: resolve Dependabot npm vulnerabilities
  hardhat.config.ts
  lib/openzeppelin-contracts/package-lock.json
  lib/openzeppelin-contracts/package.json
  lib/openzeppelin-contracts/scripts/solhint-custom/package.json
  package-lock.json
  package.json
  relayer/package-lock.json
  sdk/package-lock.json
  sdk/package.json
  sdk/packages/react/jest.config.js
  sdk/packages/react/package-lock.json
  sdk/packages/react/package.json
  sdk/packages/react/src/__tests__/hooks.test.tsx
  sdk/packages/react/src/hooks.tsx
  sdk/packages/react/tsconfig.json
Due: eslint

fix(build): restore Hardhat and Foundry compilation
  contracts/primitives/ZKBoundStateLocks.sol
  contracts/privacy/BatchAccumulator.sol
  contracts/privacy/CrossChainPrivacyHub.sol
  contracts/privacy/DelayedClaimVault.sol
  contracts/privacy/StealthAddressRegistry.sol
  contracts/privacy/StealthContractFactory.sol
  contracts/privacy/UnifiedNullifierManager.sol
  contracts/privacy/ViewKeyRegistry.sol
  contracts/upgradeable/CapacityAwareRouterUpgradeable.sol
  contracts/upgradeable/ConfidentialStateContainerV3Upgradeable.sol
  contracts/upgradeable/CrossChainProofHubV3Upgradeable.sol
  contracts/upgradeable/DirectL2MessengerUpgradeable.sol
  contracts/upgradeable/DynamicRoutingOrchestratorUpgradeable.sol
  contracts/upgradeable/InstantCompletionGuaranteeUpgradeable.sol
  contracts/upgradeable/IntentCompletionLayerUpgradeable.sol
  contracts/upgradeable/NullifierRegistryV3Upgradeable.sol
  contracts/upgradeable/PrivacyRouterUpgradeable.sol
  contracts/upgradeable/ProofCarryingContainerUpgradeable.sol
  contracts/upgradeable/UniversalShieldedPoolUpgradeable.sol
  contracts/upgradeable/ZKBoundStateLocksUpgradeable.sol
  contracts/upgradeable/ZaseonAtomicSwapV2Upgradeable.sol
  contracts/upgradeable/ZaseonProtocolHubUpgradeable.sol
  contracts/upgradeable/Zaseonv2OrchestratorUpgradeable.sol
  contracts/upgradeable/compat/ReentrancyGuardUpgradeable.sol
  foundry.toml
  hardhat.config.ts
  package-lock.json
  package.json
  remappings.txt
  test-hardhat-solidity/.gitkeep
Due: solhint, prettier-solidity, eslint, slither-check, forge-build, forge-test

security: comprehensive audit remediation across contracts, ZK circuits, SDK and relayer
  contracts/integrations/CrossChainBridgeIntegration.sol
  contracts/upgradeable/NullifierRegistryV3Upgradeable.sol
  contracts/verifiers/generated/AccreditedInvestorVerifier.sol
  contracts/verifiers/generated/LiquidityProofVerifier.sol
  contracts/verifiers/generated/SanctionsCheckVerifier.sol
  foundry.toml
  hardhat.config.ts
  noir/accredited_investor/Prover.toml
  noir/accredited_investor/src/main.nr
  noir/aggregator/src/main.nr
  noir/cross_chain_proof/src/main.nr
  noir/liquidity_proof/src/main.nr
  noir/sanctions_check/Prover.toml
  noir/sanctions_check/src/main.nr
  noir/swap_proof/src/main.nr
  relayer/src/logger.ts
  relayer/src/queue.ts
  relayer/test/logger.test.ts
  relayer/tsconfig.json
  scripts/deploy.sh
  scripts/e2e-zk-test.sh
  scripts/run-simulation.sh
  sdk/src/cli/index.ts
  sdk/src/client/ZaseonSDK.ts
  sdk/src/config/chainRegistry.ts
  sdk/src/proof-translator/ProofTranslator.ts
  sdk/src/relayer/ZaseonRelayer.ts
  sdk/test/ProofTranslator.test.ts
  sdk/test/ZaseonSDK.test.ts
  test/integration/CrossChainBridgeIntegration.t.sol
  test/upgradeable/NullifierRegistryV3Upgradeable.t.sol
Due: solhint, prettier-solidity, eslint, slither-check, forge-build, forge-test

Path conditions:
  solhint: any of: \.sol$
  prettier-solidity: any of: \.sol$
  eslint: any of: \.(ts|js)$
  slither-check: any of: \.sol$
  forge-build: any of: \.sol$
  forge-test: any of: \.sol$
